<html>
	<div class="footer-container">
		<div class="footer-row">
			<div class="footer-col img-center">
				<a href="../html/index.html"><img src="../media/img/log.svg" alt="Logo"></a> <!-- ReplaceThisForPersonalUse -->
			</div>
			<div class="footer-col">
				<h4>Blog</h4>
				<ul>
					<li><a href="../html/blog.html">Blog</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>About</h4>
				<ul>
					<li><a href="../html/about.html">About</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Admin</h4>
				<ul>
					<li><a href="../html/login.html">Login</a></li>
				</ul>
			</div>
		</div>
		<div class="social-icons">
			<a href="https://www.linkedin.com/" target="_blank"><img src="../media/img/in.png" alt="LinkedIn"></a> <!-- ReplaceThisForPersonalUse -->
			<a href="https://www.youtube.com/" target="_blank"><img src="../media/img/yt.png" alt="YouTube"></a> <!-- ReplaceThisForPersonalUse -->
		</div>
		<div class="foott">
			<p style="color: #F1F1F1">
				<a target="_blank" href="../html/index.html">Something</a> <!-- ReplaceThisForPersonalUse -->
			</p>
		</div>
		<div class="copyright">©Copyright 2023 | Title | All Rights Reserved</div> <!-- ReplaceThisForPersonalUse -->
	</div>
</html>